#cart-container{
    height: 600px;
    background: #efefef;
}
#cart-menu{
    width: 855px;
    height: 504px;
    margin-top: 50px;
}
#cart-price{
    width: 284px;
    height: 381px;
    margin-top: 50px;
}
#cart-menu .cosmetic{
    width: 134px;
    height: 134px;
    float: left;
}
#cart-menu .cart-detail{
    width: 840px;
    height: 204px;
    margin-top: 30px;
}
#cart-menu .cart-detail .cart-close{
    float: right;
    cursor: pointer;
}
#cart-menu .cart-info{
    float: left;
    margin-left: 30px;
}
#cart-menu .cart-price{
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
    width: 625px;

}
#cart-menu .on-sale{
    margin-right:50px;
    font-size: 20px;
}
#cart-menu input[type="number"]{
    width: 82px;
    height: 34px;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #999999;
}
#cart-menu .time span{
    color: #999;
    font-size: 14px;
}
#cart-menu .time{
    padding-top: 20px;
}
#cart-menu .time .arrive{
    float: right;
}
#cart-price{
    border-left: 1px solid #000;
}
#cart-price .btn{
    width: 140px;
    height: 40px;
    color: #ffffff;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 70px;
    margin-top: 30px;
    cursor: pointer;
}
#cart-price .continue{
    background: orange;
}
#cart-price .continue:hover{
    background: #000;
}
#cart-price .submit{
    background: #000;
}
#cart-price .submit:hover{
    background: orange;
}
#cart-price .description{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 70px;
}
#cart-price .gap{
    margin-right: 70px;

}
#cart-price .total{
    margin-left: 70px;
}
#cart-price .total .sum{
    border-top: 1px solid #000000;
    font-weight: bolder;
}


















